<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:include="/_menu"></th:block>

<ul>
    <li><a th:href="@{/downloadresult}">Скачать таблицу</a></li>
    <li><a th:href="@{/downloadOBRE}">Скачать шаблон ОБ/РЕ(раздел3)</a></li>
    <li><a th:href="@{/GetSom}">Скачать свидетельства</a></li>
    <li><a th:href="@{/getStr}">Данные для расчета на прочность</a></li>
    <li><a th:href="@{/wtfGet}">Скачать результаты заполнения шаблонов (Сосуды)</a></li>

</ul>
</body>
</html>